[submodule "responsive"]
	path = responsive
	url = https://github.com/sqbi-q/responsive.git
[submodule "Perseverance-Gallery"]
	path = Perseverance-Gallery
	url = https://github.com/sqbi-q/Perseverance-Gallery.git
[submodule "gdautotile-tool"]
	path = gdautotile-tool
	url = https://github.com/sqbi-q/gdautotile-tool
[submodule "Abscissa"]
	path = Abscissa
	url = git@github.com:sqbi-q/Abscissa.git
